.App {
  text-align: center;
}

.App-header {
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

form {
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"], button {
  width: 300px; /* Fixed width for inputs and button */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #4CAF50; /* Green background for the button */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
